<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <link href="/build/tailwind.css" rel="stylesheet" />

    <!-- Font -->
    <style>
      @font-face {
        font-family: "Signika";
        src: url("/fonts/Signika.ttf") format("truetype");
      }
      header {
        font-family: "Signika", sans-serif;
      }
      body {
        font-family: "Signika", sans-serif;
      }
      footer {
        font-family: "Signika", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="">
      <!-- Header of the page -->
      <%- include("../components/header.ejs") %>

      <!-- Main body that changes -->
      <%- body %>
    </div>

    <!-- Footer of the page -->
    <%- include("../components/footer.ejs") %>
  </body>
</html>
